.admin-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

.admin-sidebar {
  width: 250px;
  background: #29294c;
  color: white;
  padding: 20px;
}

.admin-logo {
  font-size: 24px;
  margin-bottom: 30px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.admin-sidebar .active,
.admin-sidebar li:hover {
  background: #6a9298;;
}

.admin-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.admin-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  padding: 8px 15px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-section {
  margin-top: 25px;
}

.admin-table {
  width: 100%;
  background: white;
  border-radius: 8px;
  padding: 10px;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
